
::before,
::after{
    margin:0;
    padding:0;
}

html{
    font-family: 'SF Pro Display', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    max-width:98rem;
    margin: 0 auto;
    padding: 0 35.2px;
}

header{
    position:fixed;
    top:0;
    z-index: 1;
    width:100%;
    height: 44px;
    background-color:rgba(0, 0, 0, .8);
    backdrop-filter: blur(32px);
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-mobile{
    display: none;
}
.nav-link{
    font-size:12px;
    color:#fff;
    padding: 0 8px;
    transition: opacity 0.5s;
}

.nav-link:hover{
    opacity: 0.7;
}

.nav-link-apple{
    width:15px;
    height:44px;
    background: url("img/icon/apple-gray.png") center no-repeat;
    background-size: contain;
    margin-top:15px;
}

.nav-link-search{
    width:15px;
    height:44px;
    background: url("img/icon/search.png") center no-repeat;
    background-size:70%;
}


/*           iphone 13 pro            */
.shop_online{
    margin-top:44px;
    height:50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
}

.iphone13-pro{
    background: url("img/iphone-13/iphone-13pro-large.jpg") center no-repeat;
}


/*           iphone 13             */
.iphone13{
    background: url("img/iphone-13/iphone13-large.jpg") center no-repeat;
    height:1107.2px;
    margin-top: 10px;
}
.cta-link-lighter{
    color:#2997ff;
}


/*          watch 7          */
.watch7{
    background: url("img/watch/watch-large.jpg") center no-repeat;
    height:1107.2px;
    margin-top: 10px;
}
.title-small{
    display: block;
    color: #bf4800;
    margin-top:44px;
}


/*            common css           */
.hero{
    height:692px;
    background-size: auto 1177px;
    background-position: center;
    background-repeat:no-repeat;
}
.title{
    text-align: center;
    padding-top:5px;
    color:#1d1d1f;
}
.title-heading{
    font-size: 56px;
}
.title-sub{
    font-size: 26px;
    font-weight: 400;
    margin-top:-40px;
}

.unit-link{
    font-size: 21px;
    margin:-15px 0 0 0px;
}
.unit-link a{
    color:#0066cc;
}
.unit-link a:last-child{
    margin-left:30px;
}
.unit-link a:hover{
    text-decoration: underline;
}



/*           homepage-section            */
.homepage-section{
    display: flex;
    width:100%;
    height:580px;
    margin: 0 auto;
}
.promo_box{
    width:50%;
    margin-top: 10px;
}
.promo_box:nth-child(n+2){
    margin-left:10px;
}

.ipad_sec{
    background: url("/img/ipad/ipad_large.jpg") center no-repeat;
}
.ipad_sec .title{
    margin-top:400px;
}

.shot_entry{
    background: url("/img/promo/tile_soip_large.jpeg") center no-repeat;
}
.shot_entry .title{
    margin-top:70px;
}

.valentine_day{
    background: url("/img/promo/promo_vday_large.jpeg") center no-repeat;
}
.valentine_day .title{
    color: #602d62;
    margin-top:30px;
}
.valentine_day .title > .heading{
    color: #602d62;
    font-size:40px;
    line-height: 45px;
}
.valentine_day .title > .unit-link-small{
    margin-top:-25px;
}


.watch_band{
    background: url("/img/promo/promo_watch_large.jpeg") center no-repeat;
}
.watch_band .title{
    color:#fff;
    margin-top:50px;
}
.watch_band .unit-link-small a{
    color: #2997ff;
}


.student_event{
    background: url("/img/promo/school_event_large.jpeg") center no-repeat;
}
.student_event .title{
    margin-top:50px;
}
.student_event .title > .heading{
    font-size:40px;
}
.student_event .unit-link-small{
    margin-top:-20px;
}

.apple_tv{
    background: url("/img/promo/promo_afterparty_large.jpeg") center no-repeat;
}
.apple_tv .title > .heading{
    margin-top:30px;
}
.apple_tv .heading img{
    height:30px;
}
.apple_tv .title > .subhead{
    margin-top:340px;
}
.apple_tv .title > .unit-link-small{
    margin-top:-25px;
}


.heading{
    font-size: 44px;
    margin-top:-5px;
}
.subhead{
    font-size: 21px;
    font-weight: 400;
    margin-top:-40px;
}
.unit-link-small{
    font-size: 15px;
    margin:-15px 0 0 0px;
}
.unit-link-small a{
    color:#0066cc;
}
.unit-link-small a:last-child{
    margin-left:30px;
}
.unit-link-small a:hover{
    text-decoration: underline;
}



/*          footer           */
.footer{
    background-color:#f5f5f7;
    max-width:98rem;
    margin: 0 auto;
    padding: 0 35.2px;
}
.footer_box{
    max-width: 980px;
    margin:0 auto;
}
.foot_note{
    padding: 17px 0 11px;
    border-bottom:1px solid #d2d2d7;
}
.apple_link{
    color:#424245;
}
.apple_link:hover{
    border-bottom:1px solid #424245;
}
.foot_note li{
    list-style: none;
    font-size: 12px;
    color:#6e6e73;
    padding-bottom:10px;
}
.directory{
    display: flex;
}
.column_section{
    width:20%;
}
.column_header h5{
    font-size: 12px;
    margin-bottom:-7px;
}
.column_list{
    margin-right:20px;
}
.column_list_item{
    list-style: none;
    display: block;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
    margin-bottom:9.6px;
    color:#424245;
    font-size: 12px;
    margin-left:-40px;
    
}

.footer_last{
    padding:34px 0 21px;
}
.footer_shop,  .footer-legal{
    font-size: 12px;
    color:#6e6e73;
    margin-bottom: 7px;
}
.footer_shop a{
    color:#0066cc;
}
.footer-legal{
    border-top:1px solid #d2d2d7;
    padding-top: 8px;
    display: flex;
}
.footer-legal-copyright{
    margin-right:30px;
}
.footer-legal-links{
    font-size: 12px;
    color:#6e6e73;
}
.footer-legal-link{
    margin-right:10px;
    color:#424245;
    font-size: 12px;
}






/*              end              */
@media screen and ( max-width:1068px ){
    .iphone13-pro{
        background: url("img/iphone-13/iphone-13pro-medium.jpg")  center no-repeat;
    }
    .iphone13{
        background: url("img/iphone-13/iphone13-medium.jpg")  center no-repeat;
    }
    .watch7{
        background: url("img/watch/watch-medium.jpg")  center no-repeat;
    }


    /*          promo section        */

    .homepage-section{
        display: flex;
        width:100%;
        height:490px;
    }
    .ipad_sec{
        background: url("img/ipad/ipad_medium.jpg")  center no-repeat;
    }
    .ipad_sec .title{
        margin-top:320px;
    }
    .ipad_sec .heading{
        margin-top:5px;
        margin-bottom:40px;
        font-size:32px;
    }
    .ipad_sec .subhead{
        font-size:19px;
        margin-bottom:30px;
    }


    .shot_entry{
        background: url("img/promo/tile_soip_medium.jpeg")  center no-repeat;
    }
    .shot_entry .title{
        margin-top:50px;
    }
    .shot_entry .heading{
        font-size:42px;
        padding-bottom: 10px;
    }
    .shot_entry .subhead{
        font-size:19px;
    }
    .shot_entry .title > .unit-link-small a{
        margin-left:-5px;
        color:black;
    }


    .valentine_day{
        background: url("img/promo/promo_vday_medium.jpeg")  center no-repeat;
    }
    .valentine_day .title{
        margin-top:20px;
    }
    .valentine_day .title > .heading{
        color: #602d62;
        font-size:30px;
        line-height: 35px;
    }
    .valentine_day .title > .unit-link-small{
        margin-top:-15px;
    }


    .watch_band{
        background: url("img/promo/promo_watch_medium.jpeg")  center no-repeat;
    }
    .watch_band .title{
        color:#fff;
        margin-top:40px;
    }
    .watch_band .heading{
        font-size:30px;
        margin-bottom:10px;
    }
    .watch_band .subhead{
        font-size:19px;
        margin-top:10px;
    }
    .watch_band .unit-link-small a{
        color: #2997ff;
    }
    
    
    .student_event{
        background: url("img/promo/school_event_medium.jpeg")  center no-repeat;
    }
    .student_event .title{
        width: 90%;
        max-width: 330px;
        margin: 45px auto;
        line-height: 1.125;
        letter-spacing: .002em;
    }
    .student_event .title > .heading{
        font-size:32px;
    }
    .student_event .unit-link-small{
        margin-top:-20px;
    }


    .apple_tv{
        background: url("img/promo/promo_afterparty_medium.jpeg")  center no-repeat;
    }
    .apple_tv .heading img{
        margin-top:10px;
        height:30px;
    }
    .apple_tv .title > .subhead{
        margin-top:320px;
    }
    .apple_tv .subhead img{
        margin-top:-30px;
        height:50px;
    }
    .apple_tv .title > .unit-link-small{
        margin-top:-30px;
    }
    



    .hero{
        height:65rem;
        background-size:auto 69.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .title-heading{
        font-size:70px;
    }
    .title-sub{
        font-size:38px;
    }
    .cta-link:nth-child(2){
        margin-left:32px;
    }

}

@media screen and (max-width: 734px) and (min-width: 0px){
    header{
        height:76.8px;
        transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),
                    height .56s cubic-bezier(0.32, 0.08, 0.24, 1);
    }

    header .container{
        padding:0;
    }
    .hero{
        margin:0 auto;
        height:500px;
        margin-top:10px;
    }
    .shop_online{
        margin-top:76.8px;
    }

    .title-heading{
        font-size:35px;
    }
    .title-sub{
        font-size:20px;
        margin-top:-20px;
    }
    .cta-link{
        font-size:18px;
    }
    .cta-link:nth-child(2){
        margin-left:2rem;
    }

    .iphone13-pro{
        margin:0;
        background: url("img/iphone-13/iphone-13pro-small.jpg")  center no-repeat;
    }

    .iphone13{
        background: url("img/iphone-13/iphone13-small.jpg")  center no-repeat;
    }

    .watch7{
        background: url("img/watch/watch-small.jpg")  center no-repeat;
    }



    .homepage-section{
        display: flex;
        flex-wrap:wrap;
        align-content:center;
        height: 1000px;
    }
    .promo_box{
        width:100%;
        height: 500px;
        margin:0 0 10px 00px;
    }

    .promo_box:nth-child(n+2){
        margin-left:0px;
    }
    .ipad_sec{
        background: url("img/ipad/ipad_small.jpg")  center no-repeat;
    }
    .ipad_sec .title{
        margin-top:350px;
    }
    .shot_entry{
        background: url("img/promo/tile_soip_small.jpeg")  center no-repeat;
    }
    .valentine_day{
        background: url("img/promo/promo_vday_small.jpeg")  center no-repeat;
        margin-top:50px;
    }
    .watch_band{
        background: url("img/promo/promo_watch_small.jpeg")  center no-repeat;
    }
    .student_event{
        background: url("img/promo/school_event_small.jpeg")  center no-repeat;
        margin-top:100px;
    }
    .apple_tv{
        background: url("img/promo/promo_afterparty_small.jpeg")  center no-repeat;
    }

    

    .title-dark{
        padding-top:190px;
    }

    .nav-list-larger{
        display: none;
    }
    .nav-list{
        margin-top:0;
        margin-left:-30px;
    }
    .nav-list-mobile{
        display: flex;
    }

    .nav-item{
        width:76.8px;
        height:76.8px;
        display: flex;
        justify-content: center;
    }

    .nav-item-hidden{
        display: none;
    }
    .mobile-menu{
        position: relative;
        z-index: 1500;
        width:100%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line{
        position:absolute;
        width:27.2px;
        height:1px;
        background-color: #fff;
        transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }
    .line-top{
        margin-top:3px;
    }
    .line-bottom{
        margin-top:-6.4px;
    }
    .active .line-top{
        margin-top:0;
        transform: rotate(45deg);
        transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }
    .active .line-bottom{
        margin-top:0;
        transform: rotate(-45deg);
        transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .footer{
        padding-top:40px;
    }
    .directory{
        display: block;
        flex-wrap:wrap;
        align-content:center;
    }
    .column_item_hidden{
        display: none;
    }
    .column_header{
        cursor: pointer;
        position: relative;
        user-select: none;
        z-index: 2;
        border-bottom:1px solid #d2d2d7;
    }
    .column_header h5{
        margin-left:-10px;
        color:#6e6e73;
        font-weight:400;
        width:600px;
        margin:0;
        padding:15px 0;
    }
    .column_header ::after{
        content: '+';
        float: right;
        font-size: 14px;
        font-weight: normal;
        margin-top: -2px;
        margin-right: 8px;
        -webkit-transition: -webkit-transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease;
    }
    .mobile-menu{
        position: relative;
        z-index: 1500;
        width:630px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .footer-legal{
        display: block;
    }
    .footer-legal-links{
        margin-top:10px;
    }

}
